<a href="https://colab.research.google.com/github/AdepojuJeremy/ML-For-Beginners/blob/main/dsm2022_week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### DSM2022 
### Week 1: Functions, Control structures, and Loop (For loop)

**`A Function`** is a group of statements that exist within a program for the purpose of performing a specific task.
The usefulness of a function include the following but not limited to
1. avoid repititive task
2. can be referenced any where within your workflow
3. useful for complex tasks involving many steps

    -- divide serves as divide and conquer method for large task
4. faster development
5. better testing
6. easiser facilitation of teamwork

**`Types of Functions`**

1. Void Functions -when called it executes statements and terminates
2. Value-Returning Functions- when called it executes statements then returns value back to the statement

`Note: The input for function is called an argument which can be any data type`

### defining and calling a void function

In [19]:
#defining a function
def print_myname():
    print('My name is Thomas Torku')

In [2]:
#calling a function
print_myname()

My name is Thomas Torku

### defining and calling a return-value function

In [20]:
def print_mydetails(name, age):
    print('My name is {} \n'.format(name))
    print('My age 5 years ago is {}'.format(age-5))
    return age-5

In [22]:
#call  the function
val= print_mydetails('Oluwa', 25)

My name is Oluwa

My age 5 years ago is 20

### Short Excerise

In [21]:
#Data Types

In [23]:
# float
# int 
# str 
# bolean
# list  [1,2,3]
# tuple (1,2,3)

In [24]:
### write a function that takes two numbers as arguments and returns the outcome
## 1. the sum of the numbers
## 2. the product of the numbers
## 3. the quotient of the numbers
## 4. the difference of the numbers

In [25]:
def sum_two(x,y):
  print(x+y)

In [26]:
sum_two(5,9)

14

In [27]:
def product_two(x,y):
  print(x*y)

In [28]:
product_two(5,59)

295

In [29]:
def quotient_two(x,y):
  print(x/y)

In [30]:
quotient_two(105,5)

21.0

In [31]:
def difference_two(x,y):
  print(x-y)

In [32]:
difference_two(98,4)

94

In [54]:
def quo_two(j, k):
  if k==0:
    print("Cannot divide")
  else:
    return j/k

In [34]:
def diff_two(x, y):
  if x==0:
    print("cannot multiply")
  else:
    return x*y

In [35]:
diff_two(0,5)

cannot multiply

In [36]:
diff_two(4,57)

228

In [37]:
quo_two(2, 3)

0.6666666666666666

In [38]:
a =int(input("Enter the value of a"))
b =int(input("Enter the value of b"))

Enter the value of a9
Enter the value of b5

In [42]:
x =str(input("Enter your first name"))
y =str(input("Enter your second name"))

Enter your first namejeremy
Enter your second nameadepoju

In [45]:
l =int(input("Enter the value of x"))
m =int(input("Enter the value of y"))

Enter the value of x12637483
Enter the value of y463225

In [46]:
diff_two(l,m)

5853998062675

### The main function

**`We use the main function to link all functions within the workflow`**

In [47]:
def main():
    print_myname()
    print_mydetails('Joseph', 45)
    result= quo_two(2, 3)
    print(result)
main()

My name is Thomas Torku
My name is Joseph

My age 5 years ago is 40
0.6666666666666666

In [48]:
main()

My name is Thomas Torku
My name is Joseph

My age 5 years ago is 40
0.6666666666666666

### Local and Global Variables

In [1]:
##Get the number of students in two schools in TN
def mtsu():
    #local variable
    num =20000
    print('The number of MTSU students is', num)
def apsu():
    num =3000
    print('The number of APSU students', num)

def main():
    mtsu()
    apsu()
main()

The number of MTSU students is 20000
The number of APSU students 3000

In [10]:
#global variable
state =input('The state in which my university is located \t ')

The state in which my university is located 	 osun

In [11]:
def your_school():
    print('Your school is located in the State of ', state)
def their_school():
    print('Their school is located in the State of ', state)

def main():
    your_school()
    their_school()
main()

Your school is located in the State of  osun
Their school is located in the State of  osun

In [12]:
##write a function that doubles a number
def double(num):
    return 2*num

In [13]:
double(40)

80

In [11]:
def my_fucntion(num):
  return  3*num

In [13]:
my_fucntion(100)

300

In [14]:
def my_function(x):
  return  3*x
 
print(my_function(100))

300

In [15]:
def myfunction():
  pass

In [16]:
def tri_recursion(k):
    if (k>0):
        result = k + tri_recursion(k-1)
        print(result)
    else:
        result = 0
    return result
 
print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [14]:
#Write a program that converts the number of cups to fluids
#1 cup =8 ounces
def intro():
    print("Convert... cups to fluids")
    print("1 cup  is 8 ounces")
    
def cup_to_ounce(cup):
    out =cup*8
    print("{} cup(s) is eqivalent to {} ounces".format(cup, out))
    return out

cup =int(input("Enter the number of cups"))
def main():
    intro()
    cup_to_ounce(cup)
main()

Enter the number of cups2
Convert... cups to fluids
1 cup  is 8 ounces
2 cup(s) is eqivalent to 16 ounces

In [15]:

#write a program that reverses your name-last and first name
def given_names(first, last):
    print("Your full name is {} {}".format(first, last))
def reverese_order(last, first):
    print("Your reversed name is {} {}".format(last, first))
    
first =input("Enter your first name \t")
last =input("Enter your last name \t")
    
def main():
    given_names(first, last)
    reverese_order(last, first)
main()

Enter your first name 	jerry
Enter your last name 	adepoju
Your full name is jerry adepoju
Your reversed name is adepoju jerry

In [16]:
#write a program that calculates the total amount to be paid from taking a loan at an interest rate
def simple_interest(P, r, t):
    I =P*r*t
    print("The calculated interest is ${:.2f}".format(I))
    return I
def calc_amount(P, I):
    A =P+I
    print("The total amount to be paid ${:.2f}".format(A))
    return A
 
P=2000.00
# P =float(input("Enter the principal amount \t "))
r =0.03 #3%
t =3

def main():
    I=simple_interest(P, r,t)
    A= calc_amount(P, I)
main()

The calculated interest is $180.00
The total amount to be paid $2180.00

### Introduction to some commonly used Packages

In [3]:
import math
import random   #random generator

In [4]:
math.cos(30)

0.15425144988758405

In [5]:
random.seed(10)

In [ ]:
random.randint(1,100)

74

In [8]:
#Generate five random numbers
arr =[] #list 
for i in range(5):
    arr.append(random.randint(1,100))

In [9]:
arr

[18, 73, 98, 9, 33]

In [10]:
##use random.seed() to have the same random value

###  Questions

In [ ]:
#Write a program that computes the retail price given the price and the percent of discount

In [ ]:
#